[twitter]
consumer_key: # API Key
consumer_secret: # API Secret
oauth_token: # Access token
oauth_secret: # Access token secret

# See DB schema in tools/fnitter.pgsql
[db]
hostname: 
username: 
database: 
password: 

# This dictates from where the UI can make requests to the API, 
# and where the API listens.
[api]
ui_url: http://localhost:8001
host: 0.0.0.0
port: 8000
debug: True
